.instructions-container {
  position: relative;

  z-index: 2;
}

.instructions-main {
  display: flex;
  position: relative;
  pointer-events: none;
  width: fit-content;
  margin: 0 auto;
}
.instructions-main p {
  margin: 0;
  text-align: right;
}

.instructions-sub {
  width: 10vw;
}

.frankie-preview {
  image-rendering: pixelated;
  padding-left: 1.5rem;
}
