@font-face {
  font-family: Picnic;
  src: url('../../assets/PicNic-Regular.woff');
}
@font-face {
  font-family: Fredoka;
  src: url('../../assets/FredokaOne-Regular.ttf');
}

.ui-card {
  font-family: Fredoka;
  font-size: 24px;
  text-shadow: 2px 2px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 8px 8px 0px black;
  padding: 20px;
  margin: 1rem;
  display: inline-block;
  background: #00f5d4;
}

.ui-sub-card {
  font-size: 16px;
  background: #9b5de5;
  max-height: 100%;
}

.ui-title-card {
  height: 100%;
  font-family: Fredoka;
  font-size: 24px;
  text-shadow: 2px 2px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 8px 8px 0px black;
  padding: 20px;
  margin: 1rem;
  display: inline-block;
  background: #00f5d4;
}

.ui-container {
  display: grid;
  grid-template-columns: 0.75fr 0.6fr 3fr 0.6fr 0.75fr;
  grid-template-rows: 3fr 4fr 2fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.game-title {
  min-width: 350px;
  font-family: Picnic;
  background: #f15bb5;
  grid-column-start: 3;
  grid-row-start: 1;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

#game-title-alt {
  display: none;
}

.game-title h1 {
  margin: 0;
  font-size: 3rem;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
}

.letter {
  display: inline-block;
}
.letter:hover {
  animation: shake 0.2s;
  padding: 0;
  margin: 0;
}

.options-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  grid-column-start: 3;
  grid-row-start: 3;
  max-height: 100%;
  overflow: hidden;
}
.sub-options-container {
  grid-column-start: 3;
  grid-row-start: 4;
}

.difficulty-options-container {
  grid-column-start: 3;
  grid-row-start: 4;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

@media screen and (max-width: 850px) {
}
@media screen and (max-width: 715px) {
}

@media screen and (max-width: 625px) {
}

@media screen and (max-width: 467px) {
  .game-title {
    grid-column: 2 / 5;
    align-self: start;
    min-width: 0;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
  }
  .game-title div {
    width: fit-content;
    display: inline-block;
  }
  .game-title .letter {
    font-size: 2.75rem;
  }
  #game-title-main {
    display: none;
  }
  #game-title-alt {
    display: unset;
  }

  .ui-title-card {
    font-size: 1.25rem;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
