@font-face {
  font-family: Picnic;
  src: url('./assets/PicNic-Regular.woff');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#threeJsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  /* background: url('./assets/spaceBackground.jpg'); */
  background-size: cover;
  z-index: -1;
}

.game-title {
  border: 2px solid black;
  border-radius: 5px;
  font-family: Picnic;
  box-shadow: 8px 8px 0px black;
  padding: 20px;
  display: inline-block;
  background: #f15bb5;
}
.game-title h1 {
  margin: 0;
  font-size: 48px;
}

.menu-window {
}
