#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  position: relative;
  cursor: url('/public/icons8-cursor-50.png'), auto;
  cursor: url('/public/icons8-cursor-50.png'), pointer;
}
body p {
  margin: 0;
}

#threeJsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-size: cover;
}

.canvas-dormant {
  z-index: -1;
}
